// Place all the styles related to the tags controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content {
  overflow:auto;
  width: 100%;

}

#left {
  width: 370px;
  margin:4px;

  background: white;
}


#right {
  width: calc(100% - 387px);
  margin:4px;

  background: white;
}

#left  { float:left;  }
#right { float:right; }
